<!--Main Template Page for Item Catalog App-->
<!DOCTYPE html>
<html>
	<head>
		{% block head %}
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='styles.css') }}">
		<title>{% block title %}{% endblock %} - Item Catalog</title>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		{% endblock %}
	</head>
	<body>
		{% block body %}
			<div class="container">
				{% block content %}
				{% endblock %}
			</div>
		{% endblock %}
	</body>
</html>