{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="container">
<div class="row">
<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
</div>
<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
    <div>
        <h2>Add a New Category</h2>
    </div>
    <div>
        <label>Category Name:</label>
        <form action="{{url_for('addCategory')}}" method="POST">
            <input type="text" name="name">
            <input type="submit" value="Add">
        </form>
    </div>
    <div>
        {% if newCategory %}
            {{newCategory}} has been added as a Category.
        {% endif %}
        {% for t in test %}
            {{t.name}}
        {% endfor %}
    </div>
</div>
<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
</div>
</div>
</div>
{% endblock %}