{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
    <h3>Add a new item</h3>
    <div>
        <form action="#" method="POST">
        <div>
            <label>Item Name:</label>
                <input type="text" name="name"><br>
            <label>Description</label>
                <input type="text" name="description"><br>
            <label>Price</label>
                <input type="text" name="price"><br>
            <button type="submit" >Add</button>
        </div>
        </form>
    </div>
    {% if newItem %}
        {{newItem}} was added!
    {% endif %}
{% endblock %}