<!--Categories page displaying all item categories-->
{% extends "main.html" %}
{% block head %}
	{{ super() }}
	<script type=text/javascript>
		$(function(){
			$('a#category_name').bind('click', function(){
				$.getJSON({{'/category/<int:category_id>'|safe}}, function(result) {
					$.each(result, function(i, field){
						$("div").append(field + "");
					});
				});
				return false;
			});
		});
	</script>
{% endblock %}
{% block content %}

	PublicCategories!
	{% for category in categories %}
		<a href="{{url_for('showCategoryItems', category_id=category.id)}}" id=category_name>
			<h3 name=cat_name>{{category.name}}</h3>
		</a>
		<div id=result></div>
	{% endfor %}
{% endblock %}